<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721964679059-jbkljunl7h61f1m4lvnqpj67hc2hp0dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721964679059-jbkljunl7h61f1m4lvnqpj67hc2hp0dh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>721964679059-ehdr7dfvurbauar2at3lg7cjgvs00p1h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAN58h5tthuZwC5FCxrxiGA4EL4_HpFw5E</string>
	<key>GCM_SENDER_ID</key>
	<string>721964679059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usersApp</string>
	<key>PROJECT_ID</key>
	<string>transport-app-36443</string>
	<key>STORAGE_BUCKET</key>
	<string>transport-app-36443.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721964679059:ios:d43b1fd1aa751aa88a7266</string>
	<key>DATABASE_URL</key>
	<string>https://transport-app-36443-default-rtdb.firebaseio.com</string>
</dict>
</plist>